<table class="table">
    <tbody>
    <tr>
        <td style="width: 10%;border: none"><b><%= I18n.t 'helpers.name' %></b></td>
        <td style="border: none"><%= @recipe.name%></td>
    </tr>
    <tr>
        <td style="width: 10%"><b><%= I18n.t 'helpers.description' %></b></td>
        <td><%= @recipe.description %></td>
    </tr>
    <tr>
        <td style="width: 10%"><b>#<%= I18n.t('helpers.stages') %></b></td>
        <td><%= @recipe.stages.uniq.count %></td>
    </tr>
    <tr>
        <td style="width: 10%"><b><%= I18n.t('helpers.revision') %></b></td>
        <td><%= @recipe.version %></td>
    </tr>
    <tr>
    </tr>
    </tbody>
</table>

<fieldset class="fieldset">
    <legend>Body</legend>
    <%= render partial: 'editor', locals: {readonly: true} %>
</fieldset>

<br><br>
<fieldset class="fieldset">
    <legend>Used by stage</legend>
    <%= render(:partial => 'stages')%>
</fieldset>

<% content_for(:breadcrumb) do %>
    <% breadcrumb_box do %>
        <%= link_to "Manage recipes", recipes_path, :style => "float:right", :class => "arrow_link" %>
        <%= link_to "Recipes", recipes_path %> &gt;
        Recipe <%= link_to @recipe.name, recipe_path(@recipe) %>
    <% end %>
<% end %>

<% content_for(:page_title) do %>
    <div class="row">
        <div class="col-md-6"><span class="label label-primary"><%= @recipe.name %></span></div>
        <% if current_user.admin? %>
            <div class="col-md-6" align="right">
                <%= edit_button edit_recipe_path(@recipe) %>
                <%= delete_button_for_ajax recipe_path, @recipe.name %>
            </div>
        <% end %>
    </div>
<% end %>

