<fieldset class="fieldset">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6"><%= "#{pluralize(@count, I18n.t('helpers.host'))} listed" %></div>
                <div class="col-md-6"></div>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>#Stages</th>
                <th>#Roles</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% @hosts.each do |host| %>
                <tr>
                    <td><%= link_to host.name, host_path(host) %></td>
                    <td><%= host.stages.count %></td>
                    <td><%= host.roles.count %></td>
                    <% if current_user.admin? %>
                        <td align="right">
                            <%= edit_button_for_ajax edit_host_path(host) %>
                            <%= delete_button_for_ajax host_path(host), host.name %>
                        </td>
                    <% end %>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-8">
            <ul class="pagination" style="margin: 0">
                <% start_page, end_page, before_pivot, after_pivot = pager_calculater(@page, @page_max) %>
                <% if start_page > 1 %>
                    <li><a href="<%= hosts_path(page: before_pivot) %>">&#8230;</a></li>
                <% end %>
                <% (start_page...end_page).each do |i| %>
                    <li <%= 'class=active' if @page == i %>>
                        <a href="<%= hosts_path(page: i) %>"><%= i %></a>
                    </li>
                <% end %>
                <% if end_page < @page_max %>
                    <li><a href="<%= hosts_path(page: after_pivot) %>">&#8230;</a></li>
                <% end %>
            </ul>
        </div>
        <div class="col-md-4">
            <%= form_tag hosts_search_path, method: :get do %>
                <div class="input-group">
                    <input type="text" class="form-control" name="key">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><%= I18n.t 'helpers.search' %></button>
                    </span>
                </div><!-- /input-group -->
            <% end %>
        </div>
    </div>
</fieldset>

<% content_for(:breadcrumb) do %>
    <% breadcrumb_box do %>
        <%= link_to "Hosts", hosts_path %>
    <% end %>
<% end %>

<% content_for(:page_title) do %>
    <%= page_title_helper(I18n.t('helpers.hosts'), new_button_for_ajax(new_host_path)) %>
<% end %>
