<table class="table">
    <tbody>
    <tr>
        <td style="width: 10%;border: none"><b><%= I18n.t 'helpers.name' %></b></td>
        <td style="border: none"><%= @host.name%></td>
    </tr>
    <tr>
        <td style="width: 10%"><b>#<%= I18n.t('helpers.stages') %></b></td>
        <td><%= @host.stages.uniq.size %></td>
    </tr>
    <tr>
        <td style="width: 10%"><b>#<%= I18n.t('helpers.deployments') %></b></td>
        <td><%= @host.roles.count %></td>
    </tr>
    </tbody>
</table>

<br>

<fieldset class="fieldset">
    <legend><%= I18n.t('helpers.stages') %></legend>
    <%= render(:partial => 'stages')%>
</fieldset>

<% content_for(:breadcrumb) do %>
    <% breadcrumb_box do %>
        <%= link_to "Manage hosts", hosts_path, :style => "float:right", :class => "arrow_link" %>
        <%= link_to "Hosts", hosts_path %> &gt;
        Host <%= link_to @host.name, host_path(@host) %>
    <% end %>
<% end %>

<% content_for(:page_title) do %>
    <div class="row">
        <div class="col-md-6"><span class="label label-primary"><%= @host.name %></span></div>
        <% if current_user.admin? %>
            <div class="col-md-6" align="right">
                <%= edit_button_for_ajax edit_host_path(@host) %>
                <%= delete_button_for_ajax host_path, @host.name %>
            </div>
        <% end %>
    </div>
<% end %>

