<fieldset class="fieldset">
    <div class="panel panel-default">
        <div class="panel-heading"><%=h pluralize(User.count, 'User')%> listed</div>

        <% if @users.empty? %>
            <br>
            No users added yet.<br>
            <br>
        <% else %>
            <table class="table">
                <tr>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Note</th>
                    <th>Created At</th>
                    <th></th>
                </tr>
                <% for user in @users %>
                    <tr>
                        <td nowrap><%= link_to user.login, user_path(user) %></td>
                        <td><%= user.email %></td>
                        <td>
                            <% if user.disabled? %>
                                <span style="color:red">Disabled</span>
                            <% elsif user.admin? %>
                                Admin
                            <% end %>
                        </td>
                        <td><%= user.created_at.to_s(:date_with_day) %></td>

                        <td align="right">
                            <% if current_user.admin? || current_user == user %>
                                <%= edit_button_for_ajax edit_user_path(user) %>
                                <% if user.disabled? %>
                                    <button class="btn btn-xs btn-info" rel="ajaxModalConfirm" style="width: 66px" data-url="<%= enable_user_path(user) %>" data-method="post" data-title="<%= t('helpers.enable') %>" data-message="Are you sure?">
                                        <i class="glyphicon glyphicon-ok"></i> <%= t('helpers.enable') %>
                                    </button>
                                <% else %>
                                    <button class="btn btn-xs btn-danger" rel="ajaxModalConfirm" style="width: 66px" data-url="<%= user_path(user) %>" data-method="delete" data-title="<%= t('helpers.disable') %>" data-message="Are you sure? Disabled users can no longer login.">
                                        <i class="glyphicon glyphicon-remove"></i> <%= t 'helpers.disable' %>
                                    </button>
                                <% end %>

                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </table>
        <% end %>
    </div>
</fieldset>

<% content_for(:breadcrumb) do %>
    <% breadcrumb_box do %>
        <%= link_to t('helpers.users'), users_path %>
    <% end %>
<% end %>

<% content_for(:page_title) do %>
    <%= page_title_helper(I18n.t('helpers.users'), current_user.admin? ? new_button_for_ajax(new_user_path) : '') %>
<% end %>
