<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Prompt?</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% for config in @project.configuration_parameters %>
        <% filtered_config = hide_password_in_value(config) %>
        <tr>
            <td title="<%= config.name %>"><%= config.name.truncate(25) %></td>
            <td title="<%= filtered_config %>"><%= filtered_config.truncate(80) %></td>
            <td><%= config.prompt_status_in_html %></td>
            <td align="right">
                <%= edit_button_for_ajax edit_project_project_configuration_path(@project, config) %>
                <%= delete_button_for_ajax project_stage_path(@project, config), config.name %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
