<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Prompt?</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% for config in @project.configuration_parameters %>
        <tr>
            <td><%= config.name.truncate(25) %></td>
            <td><%= hide_password_in_value(config).truncate(80) %></td>
            <td><%= config.prompt_status_in_html %></td>
            <td align="right">
                <%= edit_button_for_ajax edit_project_project_configuration_path(@project, config) %>
                <%= delete_button_for_ajax project_stage_path(@project, config), config.name %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>

<!--"?authenticity_token=#{form_authenticity_token}"-->

<!-- Modal -->
<div class="modal fade" id="project-configuration-window" tabindex="-1" role="dialog" aria-hidden="true">
</div>

<script>
    function open_modal_project_configuration(url) {
        $("#project-configuration-window").load(url, function(result){
            $("#project-configuration-window").modal({show: true})
        });
    };
</script>
