<div>
    <p>
        <b>Name</b><br>
        <%= text_field 'project', 'name', :style =>'width:330px;' %>
    </p>
    <p>
        <b>Project Type</b><br>
        <%= select('project', 'template', @templates, {include_blank: false}) %>
    </p>
    <p>
        <b>Description</b><br>
        <%= text_area 'project', 'description', :style =>'width:330px; height: 100px' %>
    </p>
</div>
<div>
    <h4>Project Type:</h4>
    <% for template in @template_infos %>
        <div id="<%=h template.first %>_desc">
            <b><%=h template.first.to_s.titleize %>:</b><br>
            <%=h template.last.html_safe %>
        </div>
    <% end %>
</div>

<script>
    $("#project_template").change(function() {
        console.log("ZXCV");
        show_template_info();
    });

    // show info for already chosen template
    show_template_info();

    function show_template_info(){
        hide_all_infos();
        var info_to_show = $("#" + $("#project_template").val() + '_desc');
        $(info_to_show).show();
    }

    function hide_all_infos(){
        <% for template in @template_infos %>
        $("#<%=h template.first %>_desc").hide();
        <% end %>
    }
</script>
