<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>#Hosts</th>
        <th>#Deployments</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% for stage in @project.stages %>
        <tr class="<%= cycle :even, :odd, :name => 'stages' %>">
            <td><%= h(stage.name) %></td>
            <td><%=h stage.hosts.count  %></td>
            <td><%=h stage.deployments.count %></td>
            <td align="right">
                <%= view_button_for_ajax project_stage_path(@project, stage) %>
                <%= edit_button_for_ajax edit_project_stage_path(@project, stage) %>
                <%= delete_button_for_ajax project_stage_path(@project, stage), stage.name %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
