<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>#Hosts</th>
        <th>#Deployments</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% @project.stages.each do |stage| %>
        <tr>
            <td><%= link_to stage.name, project_stage_path(@project, stage) %></td>
            <td><%= stage.hosts.count  %></td>
            <td><%= stage.deployments.count %></td>
            <td align="right">
                <%= edit_button_for_ajax edit_project_stage_path(@project, stage) %>
                <%= delete_button_for_ajax project_stage_path(@project, stage), stage.name %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
