<fieldset class="fieldset">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><%=h pluralize(Project.count, 'Project')%> listed</div>
        <% if @projects.empty? %>
            <div class="panel-body">
                No projects configured yet.<br>
                Please add a project.
            </div>
        <% else %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>#Stages</th>
                        <th>#Deploy</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                <% @projects.each do |project| %>
                    <tr>
                        <td><%= link_to project.name, project_path(project) %></td>
                        <td><%= project.description.truncate 40 %></td>
                        <td><%= project.stages.count %></td>
                        <td><%= project.deployments.count %></td>
                        <td><%= project.created_at.strftime '%Y-%m-%d' %></td>
                        <td align="right">
                            <%= edit_button_for_ajax edit_project_path(project) %>
                            <%= clone_button_for_ajax clone_form_path(project) %>
                            <%= delete_button_for_ajax project_path(project), project.name %>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        <% end %>
    </div>
</fieldset>

<% content_for(:breadcrumb) do %>
  <% breadcrumb_box do %>
    <%= link_to "Projects", projects_path %>
  <% end %>
<% end %>

<% content_for(:page_title) do %>
    <%= page_title_helper(I18n.t('helpers.projects'), new_button_for_ajax(new_project_path)) %>
<% end %>

