<% if @stage.effective_configuration.empty? %>
    <br>
    No effective configuration present. The effective configuration is the result of the stage
    specific configuration entries overriding the project configuration entries.
    <br>
<% else %>
    <table class="table table-hover">
        <thead>
        <tr>
            <th><%= I18n.t 'helpers.name' %></th>
            <th><%= I18n.t 'helpers.value' %></th>
            <th><%= I18n.t 'helpers.note' %></th>
        </tr>
        </thead>
        <tbody class="table-bordered">
        <% @stage.effective_configuration.each do |config| %>
            <tr>
                <td title="<%= config.name %>"><%= config.name.truncate(25) %></td>
                <td title="<%= config.value %>"><%= hide_password_in_value(config).truncate(45) %></td>
                <td><%= I18n.t('helpers.prompt') if config.prompt? %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>
