<%= javascript_include_tag 'ace-editor-custom' %>


<body>
<div id="editor" style="width: 100%; height: 100%;" class="ace_editor">load 'deploy'

# ================================================================
# ROLES
# ================================================================

<% @stage.roles.each do |role| %>
  <% if role.role_attribute_hash.blank? %>
  role :<%=raw role.name %>, <%=raw capfile_cast(role.hostname_and_port) %>
  <% else %>
  role :<%=raw role.name %>, <%=raw capfile_cast(role.hostname_and_port) %>, <%=raw role.role_attribute_hash.inspect %>
  <% end %>
<% end %>

# ================================================================
# VARIABLES
# ================================================================

# Webistrano defaults
  set :webistrano_project, <%=raw capfile_cast(h(@stage.project.webistrano_project_name)) %>
  set :webistrano_stage, <%=raw capfile_cast(h(@stage.webistrano_stage_name)) %>

<% @stage.non_prompt_configurations.each do |effective_conf| %>
  set :<%=raw effective_conf.name.to_sym %>, <%=raw capfile_cast(effective_conf.value) %>
<% end %>

<% @stage.prompt_configurations.each do |conf| %>
  set(:<%=raw conf.name %>) do
    Capistrano::CLI.ui.ask "Please enter '<%=raw conf.name.to_sym %>': "
  end
<% end %>

# ================================================================
# TEMPLATE TASKS
# ================================================================

<%=raw @stage.project.tasks %>

# ================================================================
# CUSTOM RECIPES
# ================================================================
<% @stage.recipes.each do |recipe| %>
  <%=raw recipe.body %>
<% end %>
</div>
</body>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/clouds");
    // set ruby conventions
    editor.getSession().setMode("ace/mode/ruby");
    editor.getSession().setUseSoftTabs(true);
    editor.getSession().setTabSize(2);

    editor.getSession().setUseWrapMode(true);
    editor.setReadOnly(true);
</script>

