<% flashed_errors(:stage) %>

<%= form_for(:stage, :url => copy_project_stage_path(@project, @stage), :html => { :method => :post }) do |f| %>
  
  <p>
    <b>Name</b> (e.g. 'Prod', 'Test', 'Dev')<br />
    <%= text_field 'stage', :name %>
  </p>

  <%= link_to 'Back to stage', project_stage_path(@project, @stage), :class => 'arrow_link ontheright', :style => 'margin-right: 330px' %>

  <p>
    <%= submit_tag "Copy" %>
  </p>
<% end %>

<% content_for(:breadcrumb) do %>
  <% breadcrumb_box do %>
    <%= link_to "Back to stage", project_stage_path(current_project, current_stage), :style => "float:right", :class => "arrow_link" %>
    <%= link_to "Projects", projects_path %> &gt; 
    Project <%= link_to current_project.name, project_path(current_project) %> &gt; 
    Stage <%= link_to current_stage.name, project_stage_path(current_project, current_stage) %>  &gt; 
    Edit
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "Edit project #{h(current_project.name)}" %>
  <h2>Edit</h2>
<% end %>
