<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><%= I18n.t 'helpers.titles.new', model: (I18n.t 'helpers.stage') %></h4>
        </div>
        <%= form_tag(project_stage_roles_path(current_project, current_stage), method: :post) do %>
            <div class="modal-body">
                <%= render partial: 'form' %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><%= I18n.t 'helpers.close' %></button>
                <%= submit_tag (I18n.t 'helpers.create'), class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div>
</div>
