<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><%= I18n.t 'helpers.titles.new', model: (I18n.t 'helpers.configuration') %></h4>
        </div>

        <%= form_for(:configuration, url: project_stage_stage_configuration_path(@project, @stage, @configuration), method: :put) do |f| %>
            <div class="modal-body">
                <%= render partial: 'project_configurations/form'%>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><%= I18n.t 'helpers.close' %></button>
                <%= submit_tag (I18n.t 'helpers.create'), class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div>
</div>

